 __  __       __                       ______    ______
|  \\|  \\     /  \\                     /      \\  /      \\
 \\$$| $$\\   /  $$  ______   _______  |  $$$$$$\\|  $$$$$$\\
|  \\| $$$\\ /  $$$ /      \\ |       \\ | $$  | $$| $$___\\$$
| $$| $$$$\\  $$$$|  $$$$$$\\| $$$$$$$\\| $$  | $$ \\$$    \\
| $$| $$\\$$ $$ $$| $$  | $$| $$  | $$| $$  | $$ _\\$$$$$$\\      TTY: \l
| $$| $$ \\$$$| $$| $$__/ $$| $$  | $$| $$__/ $$|  \\__| $$      Host: \n
| $$| $$  \\$ | $$ \\$$    $$| $$  | $$ \\$$    $$ \\$$    $$      Kernel: \r
 \\$$ \\$$      \\$$  \\$$$$$$  \\$$   \\$$  \\$$$$$$   \\$$$$$$       Release: __DISTRO_VERSION__

